
body {
  padding: 0;
  margin: 10vw;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  background-color: rgb(0, 0, 0);
  background-image: url('images/background.jpg'); 
  background-position: center center; 
  background-attachment: fixed;
}

#main { 
  margin: 20px;
  width: 100%;
  height: 100%;
  text-align:center;
  display:grid; 
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;

  background-color: rgb(255, 255, 255); 
  padding: 100px; 
  max-width: 900px; 
  text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 8rem;
    filter: blur(4px);
}

h2 {
    font-weight: bold;
    filter: blur(1px); 
}

p {
    font-size: 0.8rem; 
}

#text {
  text-align: center;  
  padding: 10%; 
  text-align:center;
  justify-content: center;
  align-items: center;
}

/* Checkbox Columns */
.container {
  display: flex;
  gap: 20px; /* Optional: Adds spacing between the columns */
  padding: 30px;
}

/* Each column takes up an equal amount of space */
.column {
  flex: 1; 
  padding: 15px;
  background-color: #f7c1ff; /* Optional: Added to see the boxes clearly */
  /*background-image: url('images/tex1.jpg') */
}

#image {
    width: 100%; 
    height: 500px;
    
}